*{
    font-family: "Yu Gothic UI";
}

QLabel{
    color: #ff904f;
}

QPushButton#startButton {
    font-size: 50px;
    padding: 20px;
}

QLabel#mouseHeader, QLabel#leftClickHeader{
    font-size:28px;
    font-family: "Segoe Print";
}

QLabel#mouseUnit {
    padding-left:10px;
    font-size: 25px;
    font-family: "Segoe Print";
}

QLabel#mouseData, QLabel#leftClickData{
    font-size: 60px;
    font-weight: bold;
    font-family: "Segoe Print";
    padding-bottom:10px;
}
